@model TallerClase.Models.Futbolista

@{
    ViewData["Title"] = "Crear Futbolista";
}

<h1>Crear Futbolista</h1>

<div>
    <a class="btn btn-primary mb-3" asp-action="Index">Volver a la lista</a>
</div>

<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <br>

            <div class="form-group">
                <label asp-for="Posicion" class="control-label"></label>
                <input asp-for="Posicion" class="form-control" />
                <span asp-validation-for="Posicion" class="text-danger"></span>
            </div>
            <br>

            <div class="form-group">
                <label asp-for="Edad" class="control-label"></label>
                <input asp-for="Edad" class="form-control" />
                <span asp-validation-for="Edad" class="text-danger"></span>
            </div>
            <br>

            <div class="form-group">
                <label asp-for="IdEquipo" class="control-label"></label>
                <select asp-for="IdEquipo" class="form-control" asp-items="ViewBag.IdEquipo"></select>
                <span asp-validation-for="IdEquipo" class="text-danger"></span>
            </div>
            <br>

            <div class="form-group mar-button">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
