@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="mt-4 text-main">Liga Pro: La liga de fútbol ecuatoriano</h1>

    <section class="hero mb-5 mt-5">
        <div class="equipos">
            <div class="equipo">
                <img src="~/img/equipos/elogo-ldu.png" alt="">
            </div>

            <div class="equipo">
                <img src="~/img/equipos/elogo-bsc.png" alt="">
            </div>

            <div class="equipo">
                <img src="~/img/equipos/elogo-cse.png" alt="">
            </div>

            <div class="equipo">
                <img src="~/img/equipos/elogo-cdn.png" alt="">
            </div>

            <div class="equipo">
                <img src="~/img/equipos/elogo-idv.png" alt="">
            </div>

            <div class="equipo">
                <img src="~/img/equipos/elogo-cuenca.png" alt="">
            </div>

            <div class="equipo">
                <img src="~/img/equipos/elogo-aucas.png" alt="">
            </div>

            <div class="equipo">
                <img src="~/img/equipos/elogo-delfin.png" alt="">
            </div>

            <div class="equipo">
                <img src="~/img/equipos/elogo-ucato.png" alt="">
            </div>

            <div class="equipo">
                <img src="~/img/equipos/elogo-tecni.png" alt="">
            </div>

            <div class="equipo">
                <img src="~/img/equipos/elogo-macara.png" alt="">
            </div>

            <div class="equipo">
                <img src="~/img/equipos/elogo-orense.png" alt="">
            </div>

            <div class="equipo">
                <img src="~/img/equipos/elogo-mushu.png" alt="">
            </div>

            <div class="equipo">
                <img src="~/img/equipos/elogo-imba.png" alt="">
            </div>

            <div class="equipo">
                <img src="~/img/equipos/elogo-cumb.png" alt="">
            </div>

            <div class="equipo">
                <img src="~/img/equipos/elogo-liber.png" alt="">
            </div>
        </div>

        <div class="trofeo">
            <img src="~/img/trofeo-ligaPro.png" alt="Trofeo de Liga Pro">
        </div>
    </section>

</div>
