html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* Navbar */

.bg-nav {
    background-color: #181316;
}

.nav-pad {
  padding-left: 25px;
}

.toggle-color {
  color: white;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

.logo {
  max-height: 40px;
}

/* Footer */
.bg-footer {
  background-color: #290a8f;
}

.footer-ligapro {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  height: 200px;
}

@media (min-width: 768px) {
  .footer-ligapro {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(5, 1fr);
    height: 100px;
  }
}

.footer-imgs img {
  max-height: 40px;
  max-width: 150px;
}

/* s */
.mar-button {
  margin-bottom: 50px;
}